body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}



header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inherit;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#welcome {
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cover {
    margin: 0;
    width: 100vw;
    position: relative;
    background-image: url('images/cover1.png'); /* Use forward slashes */
    background-size: cover;
    background-position: center;
    height: 50vh; /* Full height */
}



.cover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Choose a color that is visible on your image */
}

.cover-content h1 {
    font-size: 5em; /* Large text for the main heading */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for readability */
}

.cover-content .tagline {
    font-size: 1.5em; /* Smaller text for the tagline */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}



header {
    /* Your existing styles */
    position: relative; /* If not already set, this is needed for absolute positioning inside */
}

#logo {
    position: inherit;
    top: 10px; /* Adjust if needed */
    left: 10px; /* Adjust if needed */
    height: 100px; /* New height, adjust as needed */
    width: auto; /* This will scale the width proportionally */
}

#welcome {
    margin: 0; /* This will remove the margin around the welcome section */
    text-align: center;
}


header h1 {
    /* Your existing styles */
    padding-left: 70px; /* Adjust so that the text doesn't overlap the logo */
}

#main_header {
    font-size: 2.5em;
}

/* Add this to your style.css */

.hamburger {
    color: #ffffff;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#navbar {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; /* Adjust this value based on your header's height */
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Choose a background color that fits your design */
    width: 200px; /* Set the width of the menu */
}

#nav-list li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #000; /* Choose a text color that fits your design */
    border-bottom: 1px solid #ddd; /* Optional: adds a separator between links */
}


#services {
    width: 100%;
    overflow: auto;
    padding: 20px 0;
}

.service {
    display: flex;
    align-items: center;
    justify-content: center; /* Updated this from 'space-between' to 'center' */
    margin: 0 auto 20px auto;
    max-width: 960px; /* This value can be adjusted to suit your design preferences */
}

.service-image-left, .service-image-right {
    width: calc(50% - 10px); /* Subtracting 10px to account for padding */
    max-width: 400px; /* You can adjust this as needed */
    height: auto;
    margin: 0 10px; /* This will add spacing between image and text */
}

.service-description-right, .service-description-left {
    width: calc(50% - 10px); /* Subtracting 10px to account for padding */
    padding: 0 20px;
    margin: 0 10px; /* This will add spacing between image and text */
}

/* If you want the text to the left for even services, you can use the nth-child selector */
.service:nth-child(even) .service-description-left {
    order: -1; /* This will move the text block before the image */
}

/* Responsive adjustment if necessary */
@media (max-width: 768px) {
    .service {
        flex-direction: column;
        max-width: 100%;
    }

    .service-image-left, .service-image-right,
    .service-description-right, .service-description-left {
        width: 100%;
        margin: 0; /* Reset margin for mobile view */
        padding: 0 20px; /* Add padding on the sides */
    }

    .service:nth-child(even) .service-description-left {
        order: 0; /* Reset the order for mobile view */
    }
}