@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body, .form-label, .title-form, .form-control, .btn-primary, .form-bottom, .output {
    font-family: 'Open Sans', sans-serif;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.top-form {
    text-align: center;
    width: 100%;
}

.title-form {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #333;
    padding-top: 2.0rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1rem;
}

.form-label {
    font-size: 1rem;
    margin-bottom: .5rem;
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
}

.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
}

.form-bottom {
    margin-top: 1rem;
    text-align: center;
}

.output {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .title-form {
        font-size: 1.5rem;
    }

    .output {
        font-size: 1.1rem;
    }

    .form-control, .btn-primary {
        padding: 1rem;
        font-size: 1.1rem;
    }
}

.day-input {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.copy-button {
    background-color: #007bff;
    border-color: #000000;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.copy-button:active {
    background-color: #0056b3;
    border-color: #000000;
}

.privacy-button {
    color: #ffffff;
    padding: 1rem;
    margin: 2rem;
    max-width: 30%;
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    transition: background-color 0.3s;
}

.privacy-button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    font-weight: bold;
}

.form-control:invalid {
    border-color: #dc3545;
}

.form-control:valid {
    border-color: #28a745;
}

.btn-primary:disabled {
    background-color: #6c757d;
    border-color: #000000;
}
