form {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.top-form {
    text-align: center;
    width: 100%;
}
.title-form {
    font-family: Arial, Helvetica, sans-serif; /* Minimalist font */
    font-size: 2rem; /* Adequate size for visibility */
    font-weight: bold; /* Bold for emphasis */
    text-transform: uppercase; /* Capitalize all letters */
    color: #333; /* A dark shade for contrast */
    text-align: center; /* Center alignment */
    border-bottom: 2px solid #333; /* Underline effect */
    padding-top: 2.0rem;
    padding-bottom: 2.5rem; /* Spacing above the underline */
    margin-bottom: 1rem; /* Spacing below the title */
}


.form-label {
    font-size: 1rem;
    margin-bottom: .5rem;
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1rem; /* Spacing between form fields */
    margin: 0 auto; /* Centering the field */
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;
}

.form-bottom {
    margin-top: 1rem;
    text-align: center;
}

.output {
    padding-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .title-form {
        font-size: 1.2rem;
    }

    .output {
        font-size: 1.1rem;
    }
}

.form-control {
    /* ...existing styles... */
    transition: border-color 0.3s;
    padding: 0.75rem; /* Increase for touch-friendliness */
    font-size: 1rem;
}

.form-control:invalid {
    border-color: #dc3545; /* Red for invalid input */
}

.form-control:valid {
    border-color: #28a745; /* Green for valid input */
}

.btn-primary:disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}

.day-input {
    display: grid;
    grid-template-columns: auto 1fr; /* Label and dropdown side by side */
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.copy-button{
    /* Enter css for button */
    margin-top: 1rem;
    background-color: #a6ff00;
    border-color: #a6ff00;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    width: 100%;

}
