<div class="container">

  <div class="top-form">
    <p class="h3 title-form" class="title-form">ADI Pocket-Planner</p>
    <button (click)="OnClickPrivacyPolicy()" class="btn-primary privacy-button">Privacy Policy</button>

  </div>

  <p>*All questions must be answered if skipping enter 0</p>

  <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
    <div class="mb-3">
      <label for="hourRate" class="form-label">Enter Lesson Hourly Rate:</label>
      <input
 
        type="number"
        class="form-control"
        placeholder="Example 40"
        id="hourRate"
        aria-describedby="Hourly Rate"
        name="hourRate"
        ngModel
        required
      />
    </div>
    
    <div class="mb-3">
      <label for="minLessonDuration" class="form-label"
        >Minimum Lesson Duration:</label
      >
      <input
        type="number"
        class="form-control"
        placeholder="What is the minimum time you book with each pupil"
        id="minLessonDuration"
        aria-describedby="Minimum Lesson Duration"
        name="minLessonDuration"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Fuel Cost for Each Lesson:</label>
      <input
        type="number"
        class="form-control"
        id="fuelCost"
        aria-describedby="Fuel Cost for Each Lesson"
        name="fuelCostEachLesson"
        placeholder="The fuel it will cost you based on your min lesson duration"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Monday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Monday based on min duration"
        id="daysWorkedMonday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedMonday"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Tuesday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Tuesday based on min duration"
        id="daysWorkedTuesday"
        aria-describedby="Enter hours worked"
        name="daysWorkedTuesday"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Wednesday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Wednesday based on min duration"
        id="daysWorkedWednesday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedWednesday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Thursday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Thursday based on min duration"
        id="daysWorkedThursday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedThursday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Friday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Friday based on min duration"
        id="daysWorkedFriday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedFriday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Saturday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Saturday based on min duration"
        id="daysWorkedSaturday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedSaturday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Sunday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="The number of lessons you plan to do on Sunday based on min duration"
        id="daysWorkedSunday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedSunday"
        ngModel
        required
      />
    </div>


    <div class="mb-3">
      <label class="form-label">Insurance Cost per Month:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Enter ADI/PDI insurance collection amount for each month"
        id="insurancePerMonth"
        aria-describedby="Insurance per Month"
        name="insurancePerMonth"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Franchise Fee - Weekly:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Enter your weekly franchise fee from your driving school"
        id="franchiseFee"
        aria-describedby="Franchise Fee"
        name="franchiseFee"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Car Rental Weekly Cost:</label>
      <input
        type="number"
        class="form-control"
        placeholder="If you have a weekly car rental cost enter it here otherwise type 0"
        id="carRental"
        aria-describedby="Car Rental"
        name="carRental"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Other Costs Per Month:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Other monthly costs can be entered here"
        id="otherCost"
        aria-describedby="Other Cost"
        name="otherCostPerMonth"
        ngModel
        required
      />
    </div>

    <button [disabled] = "!f.valid" type="submit" value="0" class="btn btn-primary">Submit</button>
    <button (click) = "onCopy(f)" class="btn-primary copy-button" type="submit" >Copy</button>
  

    <div class="form-bottom">
        <p class="h3 output">Monthly Net Income: £{{ MonthlyNetIncome }}</p>
        <p class="h3 output">Weekly Net Income: £{{ WeeklyNetIncome }}</p>
      </div>
  </form>




</div>
