<div class="container">

  <div class="top-form">
    <p class="h3 title-form" class="title-form">Projected costs</p>

  </div>

  <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
    <div class="mb-3">
      <label for="hourRate" class="form-label">Hourly Rate:</label>
      <input
 
        type="number"
        class="form-control"
        placeholder="Enter hourly lesson rate"
        id="hourRate"
        aria-describedby="Hourly Rate"
        name="hourRate"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label for="minLessonDuration" class="form-label"
        >Minimum Lesson Duration:</label
      >
      <input
        type="number"
        class="form-control"
        placeholder="How long is each lesson 1 hour or 2 hours"
        id="minLessonDuration"
        aria-describedby="Minimum Lesson Duration"
        name="minLessonDuration"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Fuel Cost for Each Lesson:</label>
      <input
        type="number"
        class="form-control"
        id="fuelCost"
        aria-describedby="Fuel Cost for Each Lesson"
        name="fuelCostEachLesson"
        placeholder="Fuel cost is based on minimum lesson duration"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Monday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Monday"
        id="daysWorkedMonday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedMonday"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Tuesday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Tuesday"
        id="daysWorkedTuesday"
        aria-describedby="Enter hours worked"
        name="daysWorkedTuesday"
        ngModel
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Wednesday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Wednesday"
        id="daysWorkedWednesday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedWednesday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Thursday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Thursday"
        id="daysWorkedThursday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedThursday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Friday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Friday"
        id="daysWorkedFriday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedFriday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Saturday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Saturday"
        id="daysWorkedSaturday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedSaturday"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">How many lessons will do you on Sunday:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Sunday"
        id="daysWorkedSunday"
        aria-describedby="Numbers of Days Worked Each Week"
        name="daysWorkedSunday"
        ngModel
        required
      />
    </div>


    <div class="mb-3">
      <label class="form-label">Insurance per Month:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Enter ADI/PDI insurance cost each month"
        id="insurancePerMonth"
        aria-describedby="Insurance per Month"
        name="insurancePerMonth"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Franchise Fee - Weekly:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Enter your weekly franchise fee"
        id="franchiseFee"
        aria-describedby="Franchise Fee"
        name="franchiseFee"
        ngModel
        required
      />
    </div>

    <div class="mb-3">
      <label class="form-label">Other Costs Per Month:</label>
      <input
        type="number"
        class="form-control"
        placeholder="Other monthly costs can be entered here"
        id="otherCost"
        aria-describedby="Other Cost"
        name="otherCostPerMonth"
        ngModel
        required
      />
    </div>

    <button [disabled] = "!f.valid" type="submit" value="0" class="btn btn-primary">Submit</button>
  

    <div class="form-bottom">
        <p class="h3 output">Monthly Net Income: £{{ MonthlyNetIncome }}</p>
        <p class="h3 output">Weekly Net Income: £{{ WeeklyNetIncome }}</p>
      </div>
  </form>




</div>
