<h2 mat-dialog-title>Privacy Statement</h2>
<mat-dialog-content class="mat-typography">
    <body>
        <div class="privacy-statement">
            <p>Welcome to the ADI Pocket-Planner application. We prioritise your privacy and are committed to being transparent about our data practices. This Privacy Statement provides information on how we handle data within the ADI Pocket-Planner.</p>
            
            <h2>Data Usage:</h2>
            <p>The ADI Pocket-Planner application temporarily uses personal information such as hourly rates, lesson durations, fuel costs, number of lessons, insurance costs, franchise fees, car rental costs, and other financial details solely for the purpose of calculating your net income and providing financial insights.</p>
    
            <h2>No Data Storage:</h2>
            <p>We do not store any personal data entered into the ADI Pocket-Planner. All information is held only in temporary variables during your active session and is not saved in any databases, cookies, or any form of persistent storage.</p>
    
            <h2>Data Security:</h2>
            <p>Since we do not store any personal information, there are no risks of data breaches or unauthorised access to your personal data related to our application.</p>
    
            <h2>User Consent:</h2>
            <p>By using the ADI Pocket-Planner application, you acknowledge that any personal data provided is only for the purpose of calculation during your current session and that no data will be stored after the session ends.</p>
    
            <h2>Changes to Our Privacy Statement:</h2>
            <p>This privacy statement may be updated occasionally. We recommend users review it periodically.</p>
    
            <p>For any inquiries regarding this privacy statement or the application, please contact us at saifali@gmx.co.uk.</p>
        </div>
    </body>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>